*.ROS
*.EVA
*.EVN
.vscode/settings.json
.ipynb_checkpoints/Baseball-checkpoint.ipynb .ipynb_checkpoints/Baseball-checkpoint.py .ipynb_checkpoints/Project-checkpoint.ipynb .ipynb_checkpoints/Untitled-checkpoint.ipynb
